<html>
<head>
<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
</head>
<body>
	<h2>Name:{{product.name}}</h2>
	<h3>Mrp: {{product.MRP}}</h3>
	<h3>Expiry: {{product.expiryDate}}</h3>
	<h3>BatchNo: {{product.batchNo}}</h3>
	<h3>Quantity: {{product.quantity}}</h3>
</body>
<div class="urls">
<a href="/product/edit/{{product.id}}" class="btn btn-primary">Edit</a>
<form action="/product/delete/{{product.id}}" method="post">
  <input type="hidden" name="country" value="Norway">
  <input class="btn btn-primary" type="submit" value="Delete">
</form>
<a href="/product/cart/{{product.id}}" class="btn btn-primary">Add To Cart</a>
<div>
</html>
